body{border:1px solid grey;
height: 750px;
width: 750px;
border-radius: 5px;
}

#header{background-color: #378BC7;
  height: 100px;
  margin-top: -22px;
  padding: 0px;
border-radius: 5px;
}

h1{
  color: white;
font-family: "Raleway" , serif;
padding: 20px;}


#formTemplate {
  height: 500px;
  width:500px;
  padding-left: 50px;
  padding-right: 50px;
}

#formTemplate input{
  width: 650px;
  height: 50px;
  margin-top: 15px;

}

#foot{background-color: #C7DEEF;
   height: 100px;
  margin-top: -22px;
  padding: 0px;
border-radius: 5px;
 }

 #button{}